*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("R.jpeg");
    background-size: auto;
}
header{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
header h1{
    font-family: Slackey, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Geneva, Arial, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: black;
}
header nav a{
    color: #ca0000;
    margin: 5px;
    text-decoration: none;
    font-weight: 700;
}
header nav a:hover{
    color: black;
}
.coins{
    align-self: flex-end;
    font-size: 25px;
    color: black;
    position: relative;
    right: 80px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amount{
    display: flex;
    border: 2px solid white;
    background-color: aquamarine;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    justify-content: center;   
    align-items: center;
}
.coins img{
    height: 60px;
    position: relative;
    left: 30px;
}
body{
    background-color: #212121;
    color: #fff;
    min-height: 100%;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.conditions{
    display: flex;
    flex-flow: column;
    color: green;
    margin: 120px 130px;
    gap: 20px;
    position: relative;
    left: 100px;
}
.condn1{
    display: flex;
}
.condn2{
    display: flex;
}
.main{
    justify-self: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.headline{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: cyan;
}
.input{
    background-color: rgba(246, 255, 0, 1);
    min-height: 30vh;
    border: 1px #fff solid;
    border-radius: 100%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 60px; */
    /* box-shadow: 3px 8px #ffffff8e ; */
}
.input .lotteryno{
    margin: 20px;
    display: inline-block;
    border: 1px #fff solid;
    border-radius: 50%;
    min-width: 50px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: #ffffff;
    color: black;
    text-shadow: #9f9f9f;
    box-shadow: #9f9f9f 2px 2px;
}
#button{
    z-index: 6;
    display: inline-block;
    border: 1px #fff solid;
    border-radius: 50%;
    min-width: 100px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    font-size: 1.25rem;
    opacity: 0;
}
